{% extends 'layout.html.twig' %}

{% block title %}billeterie{% endblock %}

{% block informationTitle %}
    Votre visite
{% endblock %}

{% block informationText %}
    Définissez votre date de visite, votre horaire d'accès et le nombre de billets
{% endblock %}



{% block form %}
    {% for message in app.session.flashbag.get('notice') %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    {{ dump(app.session.get('CommandeLouvre')) }}

    {{ include('ticket/form/firststepform.html.twig') }}
{% endblock %}
