{% extends 'layout.html.twig' %}

{% block title %}Coordonnées{% endblock %}

{% block informationTitle %}
    Erreur
{% endblock %}

{% block informationText %}
    Votre session à expiré
{% endblock %}

{% block form %}
        <p>Votre session à expiré, revenir à l'accueil</p>
{% endblock %}
